.footer-textarea
    .type-text
        span.textarea(contenteditable="true" data-ph="Your text here...")
    button.voice-button
        img.microphone.-active(src="./assets/images/microphone.svg")
        img.paper-plane(src="./assets/images/paper-plane.svg")
