mixin headerAnonymous
    .header
        .overlay.-active

        .black-overlay

        a.user-icon.-home.active(href="#")
            img.user.-active(src="./assets/images/user.svg")

        p.name.rubik-medium.-active Aline Coelho
            img.arrow(src="./assets/images/arrow.svg")

        a.user-icon.-active.user(href="#")
            img.user.-active(src="./assets/images/user.svg")

mixin header
    header.header
        img.user-photo(src="./assets/images/user-photo.png")
        .overlay.-active

        .black-overlay

        a.user-icon.-home.active(href="#")
            img.user.-active(src="./assets/images/user.svg")

        p.name.rubik-medium.-active Aline Coelho
            img.arrow(src="./assets/images/arrow.svg")

        a.user-icon.-active.user(href="#")
            img.user.-active(src="./assets/images/user.svg")
