.messages
    .their-message.roboto-light
        span Lorem ipsum dolor sit.
    .my-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, elit. sed.
    .their-message.roboto-light
        span Lorem ipsum dolor sit.
    .their-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
    .my-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, elit. sed.
    .my-message.roboto-light
        span Lorem ipsum dolor sit.
    .their-message.roboto-light
        span Lorem ipsum dolor sit.
    .my-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, elit. sed.
    .their-message.roboto-light
        span Lorem ipsum dolor sit.
    .their-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
    .my-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, elit. sed.
    .my-message.roboto-light
        span Lorem ipsum dolor sit.
    .their-message.roboto-light
        span Lorem ipsum dolor sit.
    .my-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, elit. sed.
    .their-message.roboto-light
        span Lorem ipsum dolor sit.
    .their-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
    .my-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, elit. sed.
    .my-message.roboto-light
        span Lorem ipsum dolor sit.
    .their-message.roboto-light
        span Lorem ipsum dolor sit.
    .my-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, elit. sed.
    .their-message.roboto-light
        span Lorem ipsum dolor sit.
    .their-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
    .my-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, elit. sed.
    .my-message.roboto-light
        span Lorem ipsum dolor sit.
    .their-message.roboto-light
        span Lorem ipsum dolor sit.
    .my-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, elit. sed.
    .their-message.roboto-light
        span Lorem ipsum dolor sit.
    .their-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
    .my-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, elit. sed.
    .my-message.roboto-light
        span Lorem ipsum dolor sit.
    .their-message.roboto-light
        span Lorem ipsum dolor sit.
    .my-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, elit. sed.
    .their-message.roboto-light
        span Lorem ipsum dolor sit.
    .their-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
    .my-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, elit. sed.
    .my-message.roboto-light
        span Lorem ipsum dolor sit.
    .their-message.roboto-light
        span Lorem ipsum dolor sit.
    .my-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, elit. sed.
    .their-message.roboto-light
        span Lorem ipsum dolor sit.
    .their-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
    .my-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, elit. sed.
    .my-message.roboto-light
        span Lorem ipsum dolor sit.
    .their-message.roboto-light
        span Lorem ipsum dolor sit.
    .my-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, elit. sed.
    .their-message.roboto-light
        span Lorem ipsum dolor sit.
    .their-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
    .my-message.roboto-light.-more-letters
        span Lorem ipsum dolor sit amet, elit. sed.
    .my-message.roboto-light
        span Lorem ipsum dolor sit.