mixin profileInfoAnonymous
    .profile-info
        a.user-icon.-active.back(href="#")
            img.back.-active(src="./assets/images/back.png")

        p.profile-name.rubik-medium Luisa

        p.info.roboto-light Unknown information

mixin profileInfo
    .profile-info
        a.user-icon.-active.back(href="#")
            img.back.-active(src="./assets/images/back.png")

        p.profile-name.rubik-medium Aline Coelho

        p.info.roboto-light Female - 40 years

