mixin profileAnonymous
    .profile.-anonymous
        p.without-information Luisa hasn't add informations yet. Wait for her to feel comfortable for share these informations with you.

mixin profile
    .profile
        .profile-section
            h3.title speaks
            ul.tags
                li.tag English
                li.tag Spanish
                li.tag Portuguese
                li.add-tag Add more +

        .profile-section
            h3.title family
            ul.tags
                li.tag 2 small children
                li.tag Married
                li.add-tag Add more +

        .profile-section
            h3.title location
            ul.tags
                li.tag BRKLYN
                li.add-tag Add more +

        .profile-section
            h3.title dealing with
            ul.tags
                li.tag Borderline
                li.tag Depression
                li.add-tag Add more +