.iniciate
    h1.title.rubik-medium hello!
    p.message Here you may want to not identify yourself. But, if you're comfortable to give us some information, choose the
        span.identify Identify Me
        span option.

    .options
        .option
            a.anonymous-option(href="#")
            p.option-label Anonymous
        .option
            a.identify-option(href="#")
            p.option-label Identify Me