doctype html
html
    head
        title Wellbeing
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content="meta desc")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="icon" type="image/png" sizes="144x144" href="./assets/images/144.png")

        meta(name="mobile-web-app-capable" content="yes")
        link(rel="manifest" href="manifest.json")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,700|Rubik" rel="stylesheet")

        link(rel="stylesheet" type="text/css" href="./assets/styles/main.css")

    body
        include ./templates/_header
        +header
        include ./templates/_profile-info
        +profileInfo
        include ./templates/_profile
        +profile
        include ./templates/_messages
        include ./templates/_footer

        script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
        script(src="https://cdn.socket.io/socket.io-1.4.5.js")
        script(type="text/javascript" src="./assets/scripts/main.js")
        script(type="text/javascript" src="./assets/scripts/animations.js")
