.footer-textarea
  display: flex
  position: fixed
  flex-direction: row
  align-items: center
  justify-content: center
  bottom: 0
  height: 15%
  width: 100%
  background-color: $light-grey


  .type-text
    position: relative
    display: flex
    flex-direction: column-reverse
    min-height: 45px
    width: 70%
    left: 0

    .textarea
      position: absolute
      bottom: 0
      width: 100%
      min-height: 45px
      max-height: 150px
      padding: 10px 16px
      background-color: #f0f0f0
      color: #000
      outline: 0
      border: none
      border-radius: 45.5px
      overflow-x: hidden

      &::-webkit-scrollbar
        display: none

  .voice-button
    width: 45px
    height: 45px
    margin-left: 20px
    padding: 10px
    border-radius: 50%
    border: none
    background: $gradient2

    .microphone
      position: absolute
      width: 24px
      margin-top: -12px
      margin-left: -12px
      opacity: 0
      height: 0
      transform: rotate(-90deg)
      transition: opacity .3s, visibility .3s, transform .3s, height 0s ease .3s

      &.-active
        height: 24px
        opacity: 1
        visibility: visible
        transform: rotate(0deg)
        transition: opacity .3s, visibility .3s, transform .3s

    .paper-plane
      position: absolute
      width: 22px
      margin-top: -13px
      margin-left: -13px
      visibility: hidden
      opacity: 0
      height: 0
      transform: rotate(90deg)
      transition: opacity .3s, visibility .3s, transform .3s, height 0s ease .3s

      &.-active
        height: 24px
        opacity: 1
        visibility: visible
        transform: rotate(0deg)
        transition: opacity .3s, visibility .3s, transform .3s


[contentEditable=true]:empty:not(:focus)::before
  content: attr(data-ph)
  color: $grey
  font-family: $roboto
  font-weight: 300
  font-size: 12px