.header
  display: flex
  position: fixed
  flex-direction: row
  justify-content: center
  align-items: center
  height: 150px
  width: 100%
  top: 0
  overflow: hidden
  transition: .3s ease-in

  &.-active
    height: 200px

  &.-scroll-up
    height: 100px

  > .user-photo
    width: 100%
    position: absolute
    left: 0
    z-index: 0

  > .overlay
    background-color: $header-overlay
    height: 100%
    width: 100%
    position: absolute
    left: 0
    z-index: 1
    opacity: 0
    transition: .3s ease-in

    &.-active
      opacity: 0.6

  > .black-overlay
    background-color: black
    height: 100%
    width: 100%
    position: absolute
    left: 0
    z-index: 1
    opacity: 0
    transition: .3s ease-in

    &.-active
      opacity: 0.6

  > .profile-name
    text-align: left
    z-index: 2

  > .name
    text-align: center
    z-index: 2
    opacity: 0
    visibility: hidden
    height: 0
    transition: opacity .3s, visibility .3s

    &.-active
      opacity: 1
      visibility: visible
      height: auto

    .arrow
      width: 12px
      margin-left: 6px
      vertical-align: middle
      margin-top: 0
      transition: .3s ease-in

      &.-animate
        margin-top: 10px