

$dinpro-black: 'DINPro-Black', Helvetica, sans-serif
$dinpro-bold: 'DINPro-Bold', Helvetica, sans-serif
$dinpro-roman: 'DINPro-Regular', Helvetica, sans-serif
$dinpro-medium: 'DINPro-Medium', Helvetica, sans-serif
$dinpro-light: 'DINPro-Light', Helvetica, sans-serif